@{
    ViewData["Title"] = "Reportes";
}


<div class="container mt-5">


    <div class="text-center mb-5">

        <h1 class="fw-bold text-danger">
            Reportes del Sistema
        </h1>

        <p class="text-muted">
            Información general de ApliDelivery.
        </p>

    </div>



    <div class="row">


        <div class="col-md-3 mb-4">

            <div class="card shadow border-0 text-center p-4">
                <h4>
                    Clientes
                </h4>

                <h2 class="text-danger">
                    250
                </h2>

            </div>

        </div>
        <div class="col-md-3 mb-4">

            <div class="card shadow border-0 text-center p-4">
                <h4>
                    Pedidos
                </h4>

                <h2 class="text-danger">
                    500
                </h2>

            </div>

        </div>
        <div class="col-md-3 mb-4">

            <div class="card shadow border-0 text-center p-4">
                <h4>
                    Restaurantes
                </h4>

                <h2 class="text-danger">
                    40
                </h2>

            </div>

        </div>

        <div class="col-md-3 mb-4">

            <div class="card shadow border-0 text-center p-4">

                <h4>
                    Ventas
                </h4>

                <h2 class="text-danger">
                    $2500
                </h2>

            </div>

        </div>


    </div>


</div>