@{
    ViewData["Title"] = "Acceso Denegado";
}


<div class="container mt-5">

    <div class="text-center">

        <h2 class="fw-bold text-danger">
            Acceso Denegado
        </h2>


        <p class="lead">
            No tienes permisos para acceder a esta sección.
        </p>


        <a asp-controller="Home"
           asp-action="Index"
           class="btn btn-danger btn-lg">

            Volver al inicio

        </a>


    </div>

</div>